html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    color: $dark;
}

html {
    height: 100%;
}

body {
    font-family: 'RobotoCondensed-Regular';
    color: $dark;
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

.logo {
    width: 60px;
    height: 63px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;
        transition: .5s;
        &:hover {
            border-bottom: 2px solid $main; 
        }
    }
    &__item+.menu__item {
        margin-left: 45px;
    }
    &__link {
        display: block;
        color: #fff;
        font-size: 24px;
    }
    &__burger {
        display: none;
    }
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway-SemiBold';
    font-size: 48px;
    line-height: 56px;
    color: #01353E;
    position: relative;
    &:after {
        content: '/';
        position: absolute;
        color: $main;
        bottom: -15px;
        font-size: 72px;
    }
}

.text {
    font-family: 'RobotoCondensed-Light';
    font-size: 14px;
    line-height: 18px;
    color: $dark;
}

.social {
    display: flex;
    justify-content: center;
    &__item {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
        color: #242121;
        transition: .2s;
        &:hover {
            color: $main;
        }
    }
    &__item+.social__item {
        margin-left: 10px;
    }
}