@import "fonts";
@import "vars";
@import "global";
@import "media";

.header {
    &__inner {
        display: flex;
        align-items: center;
        padding: 35px 0;
    }
    &__menu {
        margin: 0 auto;
    }
}

.intro {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    position: relative;
    z-index: 0;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 491px;
        top: 0;
        background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
        z-index: -7;
    }
    &__inner {
        text-align: center;
    }
    &__title {
        color: #0D302C;
        text-transform: uppercase;
        font-size: 200px;
        font-family: 'Raleway-Bold';
        margin-top: 22%;
        line-height: 235px;
    }
    &__description {
        font-size: 24px;
        line-height: 28px;
    }
    &__logo2 {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 69px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
        position: absolute;
        bottom: 92px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.about {
    &__inner {
        padding: 190px 0;
    }
    &__title {
        margin-bottom: 100px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    &__text {
        padding-right: 60px;
        width: 50%;
        margin-bottom: 30px;
        &:nth-child(even) {
            padding-right: 0;
            padding-left: 60px;
        }
    }
}

.get {
    background-color: #F8F8F8;
    &__inner {
        padding: 200px 0;
    }
    &__title {
        margin-bottom: 100px;
    }
    &__attainment {
        margin-bottom: 100px;
    }
    &__progress {
        margin-bottom: 18px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__bottom-item {
        width: 50%;
        .text {
            margin-bottom: 30px;
        }
    }
}

.attainment {
    display: flex;
    justify-content: space-around;
    &__item + .attainment__item {
        margin-left: 75px;
    }
    &__title {
        font-size: 24px;
        line-height: 30px;
        max-width: 220px;
        height: 55px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 20px;
        &:before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        &--1:before {
            background-image: url(../images/get1.png);
        }
        &--2:before {
            background-image: url(../images/get2.png);
        }
        &--3:before {
            background-image: url(../images/get3.png);
        }
    }
    &__item {
        width: 33.3%;
    }
}

.motivation {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: top;
        width: 100%;
    }
    &__info {
        width: 50%;
        padding-top: 200px;
        margin-left: calc((100% - 1200px)/2);
    }
    &__img {
        width: 50%;
        height: 850px;
        position: relative;
        margin-bottom: 200px;
    }
    &__pict {
        position: absolute;
        max-width: 960px;
        // top: 0;
        // left: 0;
        width: 100%;
    }
    &__title {
        text-align: left;
        margin-bottom: 100px;
    }
    &__text {
        padding-right: 92px;
        margin-bottom: 30px;
    }
}

.gallery {
    &__title {
        margin-bottom: 200px;
    }
    &__filter {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 50px;
    }
    &__item {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 25px;
        cursor: pointer;
        transition: .3s;
        &+.gallery__item {
            margin-left: 20px;
        }
        &:hover {
            color: $main;
        }
        &:active {
            text-shadow: 2px 2px 8px rgb(112, 112, 112);
        }
    }
    &__img {
        padding: 0;
        margin: 0;
        display: block;
        margin-bottom: 50px;
    }
    &__btn {
        display: block;
        min-width: 350px;
        max-width: 500px;
        margin: 0 auto 200px;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
        padding: 23px;
        border: 1px solid #C4C4C4;
        background-color: transparent;
        transition: .3s;
        cursor: pointer;
        &:hover {
            border: 1px solid $main;
        }
        &:focus {
            outline: none;
        }
    }
}

.cite {
    text-align: center;
    font-style: italic;
    &__inner {
        padding: 80px 0;
    }
    &__text {
        font-size: 36px;
        line-height: 40px;
    }
    &__autor {
        font-family: 'RobotoCondensed-Light';
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        margin-right: 180px;
    }
}

.video {
    text-align: center;
    padding: 200px 0;
}

.indicators {
    &__inner {
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
    }
    &__item {
        text-align: center;
    }
    &__item+.indicators__item {
        margin-left: 100px;
    }
    &__number {
        font-family: 'RobotoCondensed-Bold';
        font-size: 64px;
        line-height: 75px;
        color: #01353E;
        margin-bottom: 5px;
    }
}

.blog {
    &__title {
        margin-bottom: 230px;
    }
}

.article {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-bottom: 200px;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(36, 33, 33, 0.5);
        position: absolute;
        z-index: -7;
    }
    &__info {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        font-size: 48px;
        line-height: 56px;
        max-width: 600px;
        color: #fff;
        transform: translate(50%, 0);
    }
    &__text {
        color: #fff;
        text-align: left;
        transform: translate(50%, 0);
    }
}

.slick-dots {
    position: absolute;
    bottom: 30%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%,0);
    li+li {
        margin-left: 15px;
    }
    li {
        button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 0;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
    .slick-active {
        button {
            background-color: $main;
        }
    }
}

.progress {
    &__img {
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        &:after {
            font-size: 24px;
            line-height: 30px;
            margin-left: auto;
            margin-right: -50px;
        }
        &--short {
            width: 200px;
            background-image: url(../images/wawe1.png);
            &:after {
                content: '85%';
            }
        }
        &--medium {
            width: 250px;
            background-image: url(../images/wawe2.png);
            &:after {
                content: '95%';
            }
        }
        &--long {
            width: 300px;
            background-image: url(../images/wawe3.png);
            &:after {
                content: '99%';
            }
        }
    }
    &__text {
        margin-bottom: 30px;
    }
}

.team {
    &__title {
        margin-bottom: 212px;
    }
    &__inner {
        display: flex;
        justify-content: space-around;
        padding-bottom: 200px;
    }
    &__item {
        text-align: center;
        line-height: 18px;
    }
    &__img {
        margin-bottom: 25px;
    }
    &__name {
        margin-bottom: 5px;
        font-family: 'RobotoCondensed-Bold';
        font-size: 18px;
    }
    &__status {
        font-size: 14px;
    }
}

.packages {
    background-color: #F8F8F8;
    padding-top: 200px;
    &__title {
        margin-bottom: 212px;
    }
    &__inner {
        display: flex;
        justify-content: space-around;
        padding-bottom: 192px;
    }
}

.package {
    background-color: #fff;
    padding: 45px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 1px solid transparent;
    transition: .3s;
    &:hover {
        border: 1px solid $main;
    }
    &__title {
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        color: #01353E;
        margin-bottom: 58px;
    }
    &__list {
        margin-bottom: 60px;
    }
    &__item {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    &__price {
        margin-top: auto;
        font-size: 36px;
        line-height: 40px;
        color: #01353E;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after {
            content: '$';
            font-size: 18px;
            line-height: 22px;
            color: #01353E;
            margin-left: 5px;
        }
    }
}

.map {
    &__inner {
        padding: 200px 0;
    }
    &__img {
        margin: 0 auto;
        display: block;
        width: 100%;
    }
}

.request {
    &__title {
        margin-bottom: 243px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__form {
        width: 50%;
        padding-right: 30px;
    }
    &__field {
        width: 100%;
        padding: 16px 0;
        border: 2px solid transparent;
        border-bottom: 2px solid #DADADA;
        transition: .2s;
        &::placeholder {
            color: $main;
        }
        &--input {
            margin-bottom: 18px;
        }
        &--message {
            resize: none;
            margin-bottom: 73px;
            &::placeholder {
                max-width: 260px;
            }
        }
        &:focus {
            outline: none;
            border-bottom: 2px solid $main;
        }
    }
    &__btn {
        font-size: 24px;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        background-color: transparent;
        padding: 24px 110px;
        border: 1px solid #C4C4C4;
        &:hover {
            border: 1px solid $main;
        }
    }
    &__contacts {
        background-color: #F8F8F8;
        padding: 50px 220px 70px 50px;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 200px;
    }
    &__text {
        margin-bottom: 65px;
        max-width: 327px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__phone {
        display: block;
        transition: .3s;
        &:hover {
            color: $main;
        }
    }
    &__social {
        margin-bottom: 180px;
    }
}

.footer {
    background-color: $main;
    &__logo {
        display: block;
        margin: 0 auto;
        padding: 68px 0;
    }
}